<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="validated-form" novalidate
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price"
                        aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>"
                        required>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add more Image(s)</label>
                <input class="form-control" type="file" id="formFileMultiple" name="image" accept="image/*" multiple>
            </div>
            <div id="preview" class="mb-3 d-flex justify-content-between"></div>
            <div class="mb-5">
                <h5> Delete Images </h5>
                <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                    <% campground.images.forEach((image, i) => { %>
                    <div class="col">
                        <div class="card">
                            <img class="card-img" src="<%= image.thumbnail %>" alt="">
                            <div class="card-img-overlay text-end pt-1 pe-2">
                                <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                    value="<%= image.filename %>" id="image-<%= i %>">
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <button class="btn btn-success">Update Campground</button>
                <a class="btn btn-info" href="/campgrounds/<%= campground._id%>">Back To Campground</a>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/previewImages.js"></script>